---
import SampleLayout from '../../layouts/SampleLayout.astro'
import { LinkText } from '../../components/LinkText'
import { Heading } from '../../components/Heading'
import { getPosts } from '../../utils/getPosts'
import { getPost } from '../../utils/getPost'
import { resolve } from '../..//utils/resolve'

export async function getStaticPaths() {
  const posts = await getPosts()

  return posts.map((post) => ({
    params: { id: post.id.toString() },
  }))
}

const { id } = Astro.params

const post = id && (await getPost(id))
const title = post ? post.title : ''
const body = post ? post.body : ''
---

<SampleLayout title={title}>
  <Heading>{id}. {title}</Heading>

  <div class="mt-4">
    <LinkText href={resolve('/posts')}>POSTS</LinkText>

    <div class="mt-4">{body}</div>
  </div>
</SampleLayout>
