---
import LayoutSample from '../../layouts/LayoutSample.astro'
import { LinkText } from '../../components/LinkText'
import { Heading } from '../../components/Heading'
import { getPosts } from '../../utils/getPosts'
import { resolve } from '../../utils/resolve'

const posts = await getPosts()
---

<LayoutSample title="Posts">
  <Heading>Posts</Heading>
  <div class="mt-4">
    <LinkText href={resolve('/')}>HOME</LinkText>

    <ul class="mt-4">
      {
        posts.map((post) => (
          <li>
            <LinkText href={resolve(`/posts/${post.id}`)}>
              {post.id}. {post.title}
            </LinkText>
          </li>
        ))
      }
    </ul>
  </div>
</LayoutSample>
