---
import { getImage } from 'astro:assets'
import SampleLayout from '@layouts/SampleLayout.astro'
import { LinkText } from '@components/LinkText'
import { Heading } from '@components/Heading'
import { resolve } from '@utils/resolve'

import bg01 from '@assets/images/bg/bg01.jpg'
import bg02 from '@assets/images/bg/bg02.jpg'
import bg03 from '@assets/images/bg/bg03.jpg'
import bg04 from '@assets/images/bg/bg04.jpg'
import bg05 from '@assets/images/bg/bg05.jpg'
import bg06 from '@assets/images/bg/bg06.jpg'
import bg07 from '@assets/images/bg/bg07.jpg'
import bg08 from '@assets/images/bg/bg08.jpg'

const optimizedBg01 = await getImage({ src: bg01 })
const optimizedBg02 = await getImage({ src: bg02 })
const optimizedBg03 = await getImage({ src: bg03 })
const optimizedBg04 = await getImage({ src: bg04 })
const optimizedBg05 = await getImage({ src: bg05 })
const optimizedBg06 = await getImage({ src: bg06 })
const optimizedBg07 = await getImage({ src: bg07 })
const optimizedBg08 = await getImage({ src: bg08 })

const title = '画像サンプル（import）'
const bgList = [
  optimizedBg01,
  optimizedBg02,
  optimizedBg03,
  optimizedBg04,
  optimizedBg05,
  optimizedBg06,
  optimizedBg07,
  optimizedBg08,
]
---

<SampleLayout title={title}>
  <Heading>{title}</Heading>
  <div class="mt-4">
    <LinkText href={resolve('/')}>HOME</LinkText>

    <div class="mt-4">
      <ul class="flex gap-4 flex-wrap">
        {
          bgList.map((bg, index) => (
            <li class="my-2">
              <h2>背景画像 {index + 1}</h2>
              <div class={`bg-img`} style={{ backgroundImage: `url(${bg.src})` }} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</SampleLayout>

<style lang="scss">
  .bg-img {
    width: 400px;
    height: 300px;
    border: 1px solid red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
