---
import { Image } from 'astro:assets';
import LayoutSample from '@layouts/LayoutSample.astro'
import { LinkText } from '@components/LinkText'
import { Heading } from '@components/Heading'
import { resolve } from '@utils/resolve'
import sample01 from '@assets/images/sample01.jpg'
import sample02 from '@assets/images/sample02.jpg'
---

<LayoutSample title="Reactサンプル">
  <Heading>画像サンプル</Heading>
  <div class="mt-4">
    <LinkText href={resolve('/')}>HOME</LinkText>

    <div class="mt-4">
      <div class="my-2">
        <p>画像の最適化済み</p>
        <Image src={sample01} alt="Sample 1" class="img" />
      </div>
      <div class="my-2">
        <p>生の画像</p>
        <img src={sample02.src} alt="Sample 2" class="img" />
      </div>
    </div>
  </div>
</LayoutSample>

<style lang="scss">
  .img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    border: 1px solid red;
  }
</style>
