---
import Layout from '../layouts/Layout.astro'
import { LinkText } from '../components/LinkText'
import { Heading } from '../components/Heading'
---

<Layout title="Welcome to Astro.">
  <main>
    <Heading>Welcome to Astro</Heading>

    <ul class="mt-4">
      <li>
        <LinkText href="/md-sample">Markdown Sample</LinkText>
      </li>
      <li>
        <LinkText href="/scss-sample">SCSS Sample</LinkText>
      </li>
      <li>
        <LinkText href="/react-sample">React Sample</LinkText>
      </li>
      <li>
        <LinkText href="/vue-sample">Vue Sample</LinkText>
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
  }
</style>
