---
import Layout from '@layouts/Layout.astro'
import { LinkText } from '@components/LinkText'
import { Heading } from '@components/Heading'
import { resolve } from '@utils/resolve'
---

<Layout title="Welcome to Astro.">
  <main>
    <Heading>Welcome to Astro</Heading>

    <ul class="mt-4">
      <li>
        <LinkText href={resolve('/articles')}>Markdown Sample</LinkText>
      </li>
      <li>
        <LinkText href={resolve('/scss-sample')}>SCSS Sample</LinkText>
      </li>
      <li>
        <LinkText href={resolve('/react-sample')}>React Sample</LinkText>
      </li>
      <li>
        <LinkText href={resolve('/vue-sample')}>Vue Sample</LinkText>
      </li>
      <li>
        <LinkText href={resolve('/posts')}>Posts</LinkText>
      </li>
      <li>
        <LinkText href={resolve('/image-samples/image-sample')}>Image Sample</LinkText>
      </li>
      <li>
        <LinkText href={resolve('/image-samples/bg-img-with-relative-path')}>bg-img-with-relative-path</LinkText>
      </li>
      <li>
        <LinkText href={resolve('/image-samples/bg-img-with-import')}>bg-img-with-import</LinkText>
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
  }
</style>
