---
import BaseLayout from '@layouts/BaseLayout.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<BaseLayout title={title}>
  <main class="p-4">
    <slot />
  </main>
</BaseLayout>
